{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2023": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": "latest"
  },
  "extends": [
    "eslint:recommended",
    "@nuxtjs/eslint-config-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-strongly-recommended" // https://eslint.vuejs.org/user-guide/
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    // Global
    "linebreak-style": ["error", "unix"],
    // Vue.js 
    "vue/script-indent": ["error", 2, { "baseIndent": 1 }],
    "vue/html-self-closing": ["error", {
      "html": {
        "void": "never",
        "normal": "never",
        "component": "always"
      },
      "svg": "never",
      "math": "never"
    }],
    "vue/multi-word-component-names": "off"
  },
  "overrides": [
    {
      "files": ["*.vue"],
      "rules": {
        "indent": "off"
      }
    }
  ]
}
