@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ns-500: #6aa3ab;
  --ns-gray-300: rgb(212 212 216);
  --ns-gray-700: rgb(63 63 70);
  --ns-gray-800: rgb(39 39 42);
}

html.dark::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--ns-gray-800);
}

html.dark::-webkit-scrollbar {
  width: 12px;
  /* width: 0.6em; */
  background-color: var(--ns-gray-800);
}

html.dark::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--ns-gray-700);
}

html.dark::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background-color: #39393F;
}

/* ---------------------------- */


html.light::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}

html.light::-webkit-scrollbar {
  width: 12px;
  /* width: 0.6em; */
  background-color: white;
}

html.light::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #C1C1C1;
}

html.light::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background-color: #A8A8A8;
}
